@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto;
  font-size: 10px;
  line-height: 3.53em;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {  font-family: Roboto Condensed;
  font-weight: 700;
}


.nav-bar{
  background-color:white;
  padding:14px 0 14px 0; 
}
.nav-bar a{
  color: rgb(77, 85, 88);
  text-decoration: none;
  font-size: 2em;
  padding: 10px;
}
.nav-bar-ul {
  width: 1200px;
  margin: 0 auto;
  list-style-type:none;
  text-align:center;
  display:flex; 
  justify-content:flex-end;
  ;   
}


.logo {
   position:absolute;
   float: left;
   height: 50px;
   margin: 0 auto;
}

.header {
        background-image: url(images/landing.jpg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        padding-top: 50px;
}

.header h1{
    color: white;
    font-size: 6em;
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .header h2{
    color: white;
    font-size: 30px;
    display:flex;
    justify-content: center;
  }
  
  #Structure>h1 {
  color: black;
  font-size: 40px; 
  text-decoration:underline; 
  text-decoration-color:rgb(20, 209, 121); 
  padding: 10px;
  text-align: center;
  }
   
  #Structure>div {
    margin:10%; 
    display: flex;
    justify-content: space-between; 
    flex-direction:row; 
    flex-wrap: wrap;
  }

  .spotisection, .music, .stream {
    font-size: 15px;
    text-align: center;

  }

  h4 {
    color:rgb(20, 209, 121);
    font-size:20px;
    text-align: center;
  }

  .spotisection img {
    width: 200px;
  }

  .music img {
  width: 200px;
  }

  .stream img {
  width: 200px;
  }

  #green {

    background-color: rgb(20, 209, 121);
    margin:0 2% 0 2%;

  }

  #green>h1 {
  color: white;
  text-decoration:underline; 
  text-decoration-color:white; 
  font-size: 2em;
  padding: 10px;
  margin:0 2% 0 2%;
  text-align:left;

  }

 #green ul {
   color: white; 
    list-style-type:none;
    text-align:left;
    margin:0 2% 0 2%;
    padding: 10px;
 }

 .icon {
  width: 100px; 
  height:100px;
 }

 .kanye {
 
 }
